[MASTER]
load-plugins=pylint_odoo
score=n

[ODOOLINT]
;manifest_required_authors=Quilsoft
;manifest_required_keys=license,version
;manifest_deprecated_keys=description,active
;license_allowed=AGPL-3,GPL-2,GPL-2 or any later version,GPL-3,GPL-3 or any later version,LGPL-3,OPL-1
;valid_odoo_versions=17.0,15.0,14.0

[MESSAGES CONTROL]

disable=all
enable=c-extension-no-member,
    fixme,
;    import-error,
    inconsistent-return-statements,
    line-too-long,
    locally-disabled,
    logging-too-many-args,
    missing-class-docstring,
    missing-function-docstring,
;    missing-module-docstring,
    protected-access,
    suppressed-message,
;    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-branches,
    too-many-format-args,
    too-many-function-args,
    too-many-instance-attributes,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-star-expressions,
    too-many-statements,
    unused-argument,
    # TODO: Re-enable the following one
    attribute-defined-outside-init,
    consider-using-f-string,
    implicit-str-concat,
    too-complex,

; Deshabilitar W0104(pointless-statement) en manifest
[__manifest__.py]
disable=W0104

[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no

[SIMILARITIES]
min-similarity-lines=14
ignore-comments=yes
ignore-docstrings=yes

[DESIGN]
# McCabe complexity cyclomatic threshold for too-complex check
#  Value definied from https://en.wikipedia.org/wiki/Cyclomatic_complexity
#   - The figure of 10 had received substantial corroborating evidence,
#     but that in some circumstances it may be appropriate to relax the restriction
#     and permit modules with a complexity as high as 15
max-complexity=15
